<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Test/Unit/bootstrap.php"
         colors="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="Mage-OS Shopping Feed Unit Tests">
            <directory suffix="Test.php">Test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
