<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Rocket Web Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageOS_ShoppingFeed::mageos_shopping_feed" title="Mage-OS Shopping Feed" module="MageOS_ShoppingFeed"
             sortOrder="10" parent="Magento_Catalog::catalog" dependsOnModule="Magento_Backend"
             resource="Magento_Catalog::catalog"/>
        <add id="MageOS_ShoppingFeed::index" title="Feeds Management" module="MageOS_ShoppingFeed"
             sortOrder="10" parent="MageOS_ShoppingFeed::mageos_shopping_feed" action="mageos_shopping_feed/feed/index/"
             resource="MageOS_ShoppingFeed::grid"/>
    </menu>
</config>
